
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(110deg, #053ada, #032239);
}
/*NAV BAR  */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 100;
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
        rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.navbar h1 {
    font-size: 30px;
    color: white;
}

.navbar-link a {
    margin-left: 10px;
    text-decoration: none;
    color: #fffdab;
    font-size: 20px;
    transition: 0.3s ease;
}

.navbar-link a:hover {
    color: #ff8800;
    transform: scale(1.05);
}

/* HERO */
.hero {
    width: 80%;
    margin: 40px auto;
    text-align: center;
    padding: 20px 60px;
}

.hero h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: white;
}

.hero-int h3 {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 15px;
    color: #fffdcc;
}

.hero-int p {
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 20px;
    color: #f1f1f1;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    margin: 10px;
    background: white;
    color: #053ada;
    text-decoration: none;
    border-radius: 10px;
    font-size: 1.1rem;
    transition: 0.3s ease;
}

.btn:hover {
    background: #053ada;
    color: white;
    transform: scale(1.05);
}

/* ABOUT */
.about {
    width: 80%;
    margin: 40px auto;
    text-align: center;
    padding: 20px 60px;
}

.about h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: white;
}

.about-container {
    padding: 60px;
    margin-bottom: 25px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.25);
    transition: 0.3s ease;
}

.about-container p {
    font-size: 1.3rem;
    line-height: 1.9;
    color: #efefef;
}

.about-container:hover {
    transform: scale(1.03);
}

/* SKILLS */
.skill-container {
    width: 80%;
    margin: 30px auto;
    padding: 20px 60px;
}

.skill-container h2 {
    text-align: left;
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: white;
}

.skill-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.3rem;
    padding: 40px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.25);
}

.skill-box div {
    background: #ff8800;
    color: white;
    padding: 12px 24px;
    text-align: center;
    border-radius: 10px;
    font-weight: 600;
}

/* PROJECT  */
.project {
    width: 100%;
    margin: 20px auto;
    text-align: center;
    padding: 20px 60px;
}

.project h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: white;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin: 20px auto;
}

.project-box {
    padding: 30px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.25);
    transition: 0.3s ease;
}

.project-box:hover {
    transform: scale(1.03);
}

.project-box h3 {
    padding: 10px;
    margin-bottom: 15px;
    font-size: 1.3rem;
    background: #ff8800;
    color: white;
    border-radius: 10px;
}

.project-box p {
    margin-bottom: 15px;
    font-size: 1rem;
    color: #dedede;
}

.project-box a {
    display: inline-block;
    margin: 10px 5px;
    padding: 10px 18px;
    background: white;
    color: #053ada;
    font-weight: 600;
    text-decoration: none;
    border-radius: 8px;
    font-size: 0.9rem;
    transition: 0.3s ease;
}

.project-box a:hover {
    background: #053ada;
    color: white;
    transform: scale(1.05);
}

.project-box span {
    margin: 5px;
    padding: 10px 18px;
    display: inline-block;
    background: #ff8800;
    border-radius: 10px;
    color: white;
    font-weight: 600;
}

/* CONTACT */
.contact {
    width: 80%;
    margin: 60px auto;
    text-align: center;
    padding: 20px 60px;
}

.contact h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.contact-box {
    width: 60%;
    margin: auto;
    padding: 40px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: rgba(255, 255, 255, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.25);
}

.contact-item {
    padding: 20px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.25);
    transition: 0.3s;
}

.contact-item:hover {
    transform: scale(1.03);
}

.contact-item a {
    color: #ff8800;
    text-decoration: none;
    font-weight: 600;
}

.contact-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 24px;
    background: white;
    color: #ff8800;
    border-radius: 15px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s ease;
}

.contact-btn:hover {
    background: #ff8800;
    color: white;
}

/* RESPONSIVE DESIGN */
@media (max-width: 1024px) {
    .project-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .skill-box {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {

    .navbar {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .hero,
    .about,
    .skill-container,
    .project,
    .contact {
        width: 95%;
        padding: 20px;
    }

    .project-container {
        grid-template-columns: 1fr;
    }

    .contact-box {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .hero h2 {
        font-size: 2rem;
    }

    .skill-box {
        grid-template-columns: 1fr;
    }

    .project-box span {
        font-size: 0.85rem;
    }
}
